.App {
  text-align: center;
}
.today {
	background-color: #009e6c !important;
	color: #fff;
	box-shadow: none !important;
}

td {
	cursor: pointer;
}

.headCalendar td {
	cursor: default;
}

.in-prev-month,
.in-next-month {
  opacity: 0.7;
}
